{{#section 'head'}}
<meta name="robots" content="noindex">
{{/section}}

<h1>Test Page</h1>
<p>We are testing jQuery.</p>
{{#section 'jquery'}}
 <script>
   $('document').ready(function(){
     $('h1').html('jQuery in work');
   });
 </script>
{{/section}}
