extends layout

block content
  h1= title
<<<<<<< HEAD:mean/loc8r/app_server/views/index.jade
  p Welcome to new #{title} Powered by pure JavaScript
=======
  p Welcome to new #{title} powered by JS
>>>>>>> refs/remotes/origin/master:mean/vast_plain/app_server/views/index.jade

  // Wrapper
  #wrapper
  // /Wrapper
