*~
bootstrap
jquery
angular
node_modules
bower_components
favicon.ico
*.log
*.bak
*.lock

lib
bin
tests
vendor
dist
tmp
jquery-3.2.1.min.js
bootstrap.min.css

robots.txt
.sass-cache
.gitkeep
.git
README.md
testem.js
.editorconfig
.ember-cli
.eslintrc.js
.travis.yml
.watchmanconfig

# ember-try
.node_modules.ember-try
bower.json.ember-try
package.json.ember-try
