*~
bootstrap
jquery
node_modules
favicon.ico
*.log
*.bak
*.lock

public
libs
images
bin
stylesheets
tests
vendor
dist
tmp

robots.txt
.sass-cache
.gitkeep
.git
README.md
testem.js
.editorconfig
.ember-cli
.eslintrc.js
.travis.yml
.watchmanconfig

# ember-try
.node_modules.ember-try
bower.json.ember-try
package.json.ember-try
