<!DOCTYPE html>
<html ng-app>
  <head>
    <title>JavaScript &amp; jQuery - Chapter 9: APIs - Simple Angular Example</title>
    <link rel="stylesheet" href="css/c09.css" />
    <link rel="stylesheet" href="css/pepper-grinder/jquery-ui-1.10.3.custom.min.css">
  </head>
  <body>
    <header>
      <h1>THE MAKER BUS</h1>
    </header>
    <div class="third">
      <p class="welcome">Tell your friends to join us for a awesome day of tinkering with the Maker BUS</p>
      <form>
        To: <br>
        <input type="text" ng-model="name" /> <br>
        Message: <br>
        <textarea ng-model="message" ></textarea>
        <input type="submit" value="send message">
      </form>
    </div>
    <div class="two-thirds">
      <div class="postcard">
        <div class="">{{name}} </div>
        <p>{{message}}</p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
    <script data-require="angular.js@1.5.0" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="js/form-init.js"></script>
  </body>
</html>
